@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;0,600;0,700;1,400&family=Barlow:wght@400;500;600;700&family=Bellefair&display=swap");

/* -------------------------------------GENERAL RESETS STARTS------------------------------------- */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
  Links and lists
*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ------------------------------------- GENERAL RESETS ENDS ------------------------------------- */

/* ------------------------------------- VARIBALE DECLARATION STARTS------------------------------------- */
:root {
  /* <------ Colors ------> * */
  --primary-color: #f20732;
  --secondary-color: #bfbbb4;
  --white-color: #fff;
  --accent-color: #f2eeb6;
  --dark-color: #0d0d0d;
  --secondary-dark-color: #3F3D56;

  /* <------ Fonts  ------> */
  /* font family */
  --header-ff: "Barlow", sans-serif;
  --condesed-ff: "Barlow Condensed", sans-serif;
  --body-ff: "Bellefair", serif;

  /* font sizes */
  --main-heading-fs: 3.75rem;
  --paragraph-text-fs: 0.875rem;
  --sub-heading-fs: 3.5rem;
  --medium-fs: 1.25rem;
  --menu-fs: 1.75rem;

  /* Font weights */
  --bold-fw: 700;
  --semi-bold-fw: 600;
  --medium-fw: 500;
  --regular-fw: 400;
}

/* ------------------------------------- VARIBALE DECLARATION ENDS ------------------------------------- */

/* ------------------------------------- REUSABLE CLASSES STARTS ------------------------------------- */

body {
  font-family: var(--body-ff);
  font-size: 1.5rem;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--flex-gap, 2rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 2rem);
}

.cards {
  padding: 1rem;
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 14px rgba(0, 0, 0, 0.2);
}

.btn {
  font-weight: var(--bold-fw);
  font-family: var(--header-ff);
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 50px;
  letter-spacing: 4.72px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* .btn-secondary {
} */

/* Moved the section Headers so that we can easily reuse them. */

.section--info {
  letter-spacing: 2.35px;
  word-spacing: 0.1rem;
  text-transform: capitalize;
  padding-top: 1rem;
}

.section--info h3 {
  margin: 2rem auto;
  text-align: center;
  font-family: var(--condesed-ff);
  font-weight: normal;
}

.section--info h4 {
  margin-bottom: 2rem;
  font-family: var(--body-ff);
}

/* Swiper */
.swiper {
  max-width: 600px;
  height: 100%;
  padding: 50px;
  padding-top: 0;
}

/* ------------------------------------- RESUABLE CLASSES ENDS ------------------------------------- */





/*------------------------------------- NAVIGATION CLASSES STARTS -------------------------------------*/
.menu-btn{
  display: none;
}

header{
  margin-top: 1rem;
}

.nav-list{
  height: 80%;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;

}
.nav-logo img{
  height: 100px;
  
}

.other-nav-action .nav-list__item{
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  border-radius: 50px;
  font-weight: var(--bold-fw);
  font-family: var(--header-ff);
  font-size: 1rem;
  padding: 0.7rem 0.3rem;
  letter-spacing: 4.72px;
}



/* ------------------------------------- NAVIGATION CLASSES ENDS ------------------------------------- */

/* -------------------------------------HERO CLASSES BEGIN-------------------------------------------- */
.hero {
  background-color: var(--accent-color);
  width: 90%;
  height: 100%;
  margin-top: 2rem;
  margin-inline: auto;
  padding-bottom: 2rem;
}
.container--hero {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.split {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.container--hero h1,
.container--hero p {
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  text-transform: capitalize;
  max-width: 100%;
}

.hero div img {
  display: block;
  max-height: 17rem;
  max-width: 100%;
  margin-left: 2rem;
}

.hero h1 {
  color: var(--primary-color);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.204);
  font-weight: var(--medium-fw);
  font-size: 4rem;
  text-align: center;
  max-width: 100%;
  font-family: var(--body-ff);
}

.split p {
  font-size: 2rem;
  padding: 0 2rem;
  margin: 0 auto;
}

/* .btn-start {
} */



/* -------------------------------------HERO CLASSES ENDS-------------------------------------------- */

/* -------------------------------------ABOUT CLASSES BEGIN-------------------------------------------- */

.about {
  width: 90%;
  height: 100%;
  margin-top: 1rem;
  margin-inline: auto;
}

.about--images {
  --grid-gap: 0.4rem;
  max-width: 350px;
  grid-template-areas:
    " top-1 top-2 "
    " bottom-1 bottom-1 ";
}

.top-1 {
  grid-area: top-1;
}
.top-2 {
  grid-area: top-2;
}

.bottom-1 {
  grid-area: bottom-1;
}

.about--mission p {
  margin-top: 3rem;

  /* font-size: 1.2rem; */
}

.about--mission .red {
  color: #f20732;
}
.about--mission h5 {
  font-weight: var(--bold-fw);
  font-family: var(--condesed-ff);
}
.about--mission ul {
  list-style-type: initial;
  line-height: 1.8rem;
  font-weight: var(--regular-fw);
}

.container--about {
  flex-direction: column;
  align-items: center;
  --flex-gap: 0.8rem;
}

/* Features section */

.feature-card {
  /* margin-block: 2rem; */
  padding: 1rem;
  min-width: 150px;
  height: 420px;
  overflow-x: hidden;
}

.feature-card--image {
  min-width: 100px;
}

.feature-card--desc__text {
  font-size: 1.2rem;
}










@media screen and (max-width: 1000px) {
  .menu-btn{
    display: block;
  }
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    position: relative;
  }
  
  
  .logo-image {
    width: 85px;
  }
  
  .nav-list {
    position: absolute;
    right: -0.4rem;
    top: 1.7rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    padding-top: 2.8rem;
    padding-left: 2rem;
    border-radius: 10px;
    flex-direction: column;
    --flex-gap: 0.8rem;
    height: 60vh;
    min-width: 60%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(120%);
    opacity: 0;
  }
  
  .nav-list.opened {
    transform: translateX(0);
    opacity: 1;
    color: pink;
  }
  
  .nav-list__item {
    font-family: var(--body-ff);
    font-size: var(--menu-fs);
    font-weight: var(--bold-fw);
    color: var(--dark-color);
    letter-spacing: 4.72px;
  }
  
  .other-nav-action {
    position: absolute;
    width: 70%;
    bottom: 08px;
    justify-content: space-between;
    align-items: center;
  }
  
  .other-nav-action .nav-list__item {
    font-size: 1rem;
    color: var(--white-color);
  }
  
  .divider {
    width: 2px;
    height: 35px;
    background-color: var(--dark-color);
  }
  
  .menu-btn {
    width: 35px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    background-image: url("../images/menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    z-index: 100;
  }
  
  
}
